<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= gravatar_for @user %>
      <h1><%= @user.name %></h1>
      <span><b>Books:</b> <%= link_to @user.books.count, user_books_path(@user) %></span>
    </section>
    <section class="stats">
      <%= render 'stats' %>
    </section>
    <br/>
    <% if @user != current_user %>
      <%= render 'relationships/follow_button' %>
    <% end %>
  </aside>
  <% @posts = @user.posts.all.order(created_at: :desc) %>
    <div class="col-md-8">
      <% @posts.each do |post| %>
          <div>
              <%= gravatar_for post.user %>
              <%= post.user.name %>
              <%= link_to post.content, post_path(post), class: 'post-content' %>
              <hr/>
          </div>
      <% end %>
    </div>
</div>