<div class="row">
    <aside class="col-md-4">
      <%= image_tag @book.image_url,width: '320px'%>
      <hr/>
      <% unless current_user.books.include?(@book)  %>
        <%= form_tag books_path do %>
           <%= hidden_field_tag :isbn, @book.isbn %>
           <%= submit_tag '図書に追加する', class:"btn btn-sm btn-outline-secondary" %>
        <% end %>
      <% end %>
    </aside>
    <div class="col-md-8">
      <h3><%= @book.title %> | <%= @book.author %></h3>
      <h4>
        <span>全体評価：</span>
        <span id="star-rate-<%= @book.id %>"></span>
        <script>
          $('#star-rate-<%= @book.id %>').raty({
            size: 36,
            starOff: "<%= asset_path('star-off.png') %>",
            starOn: "<%= asset_path('star-on.png') %>",
            starHalf: "<%= asset_path('star-half.png') %>",
            half: true,   
            readOnly: true,
            score: <%= @eval_avg %>, 
          });
        </script> 
        <%= @eval_avg %>
      </h4>
      <% if @book.review && current_user.id == @book.user_id %>
        <%= link_to("評価を編集", edit_book_reviews_path(@book), class:"btn btn-secondary btn-sm") %>
      <% else %>
        <%= link_to("評価をする", new_book_reviews_path(@book), class: "btn btn-primary btn-sm") %>
      <% end %>
      <hr/>
      <h4>関連ツイート</h4>
      <div class="minimum-scroll" >
        <% @posts.each do |post| %>
          <div>
            <%= gravatar_for post.user %>
            <%= post.user.name %>
            <%= link_to post.content, post_path(post), class: 'post-content' %>
            <hr/>
          </div>
        <% end %>
      </div>
      <br/>
      <%= paginate @posts %>
    </div>
</div>
