
<div class="review-book ">
  <div class="col-md-4">
    <div>
      <div class="card mb-3 shadow-sm">
        <%= image_tag @book.image_url %>
      </div>
    </div>
  </div>
  <div class="review-content" >
    <h3>Title:<%= @book.title %></h3>
    <h4>Author:<%= @book.author %></h4>
    <h4>
      <span>全体評価：</span>
      <span id="star-rate-<%= @book.id %>"></span>
      <script>
        $('#star-rate-<%= @book.id %>').raty({
          size: 36,
          starOff: "<%= asset_path('star-off.png') %>",
          starOn: "<%= asset_path('star-on.png') %>",
          starHalf: "<%= asset_path('star-half.png') %>",
          half: true,   
          readOnly: true,
          score: <%= @eval_avg %>, 
        });
      </script> 
      <%= @eval_avg %>
    </h4>
    <hr/>
    <p></p>
      <% unless current_user.books.include?(@book)  %>
        <%= form_tag books_path do %>
           <%= hidden_field_tag :isbn, @book.isbn %>
           <%= submit_tag '図書に追加する', class:"btn btn-sm btn-outline-secondary" %>
        <% end %>
      <% else %>
        <%= link_to 'あなたのレビュー', book_reviews_path(@book) ,class:'btn btn-primary' %>
      <% end %>
  </div>
</div>