<div class="row">
    <aside class="col-md-4">
      <%= render 'user_profile' %>
      <hr/>
      <%= render 'post_form' %>
    </aside>
    <div class="col-md-8">
      <h2>Posts</h2>
      <div class="scroll" >
        <% @posts.each do |post| %>
          <div>
            <%= gravatar_for post.user %>
            <%= post.user.name %>
            <%= link_to post.content, post_path(post), class: 'post-content' %>
            <hr/>
          </div>
        <% end %>
      </div>
      <br/>
      <%= paginate @posts %>
    </div>
</div>