<%= provide :title, 'Edit Review' %>

<div class="review-book ">
  <div class="col-md-4">
    <div>
      <div class="card mb-3 shadow-sm">
        <%= image_tag @book.image_url %>
      </div>
    </div>
  </div>
  <div class="review-content" >
    <div class="col-md-10">
      
      <%= form_for(@review, url: {controller: 'reviews', action: 'update', id: @review.book_id}) do |f| %>
        <div class="field" id="star" >
          <%= f.label :evaluation, "星評価：" %>
          <%= f.hidden_field :evaluation, id: :review_star %>
          <script>
            $('#star').raty({
              size     : 36,
              starOff:  "<%= asset_path('star-off.png') %>",
              starOn : "<%= asset_path('star-on.png') %>",
              starHalf: "<%= asset_path('star-half.png') %>",
              scoreName: 'review[evaluation]',   
              half: true,  
              score: <%= @review.evaluation %>,
            });
          </script>
        </div>
        <%= f.label :content %>
        <%= f.text_area :content, method: :patch, class: 'form-control' %>
        <%= hidden_field_tag :book_id, @book.id %>
        <%= f.submit '編集', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>