<!DOCTYPE html>
<html>
  <head>
    <title>BookApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
          <a href="/home" class="navbar-brand d-flex align-items-center">
            <strong>Book App</strong>
          </a>
          <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <% if log_in? %>
              <%= link_to '投稿一覧', '/posts/index', class:"btn btn-primary my-2" %>
              <%= link_to '友達を探す', users_path, class:"btn btn-secondary my-2" %>
              <%= link_to 'ログアウト', logout_path,method: :delete, class:"btn btn-secondary my-2" %>
            <% else %>
              <%= link_to 'ユーザー登録', new_user_path, class:"btn btn-secondary my-2" %>
              <%= link_to 'ログイン', login_path , class:"btn btn-secondary my-2" %>
            <% end %>
          </button>
        </div>
      </div>
    </header>
    <div class="container">
      <br/>
      <% if flash.any? %>
        <% flash.each do |key, value| %>
            <p class="alert alert-<%= key %>">
              <%= value %>
            </p>
        <% end %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
